exportPattern("^[[:alpha:]]+")
export(drawHPIntensity)
export(drawUniMMHPIntensity)
export(mmhp)
export(simulatehp)
export(simulatemmhp)
export(HPIntensity)
export(UniMMHPIntensity)

importFrom(graphics, curve, legend, plot, points, segments)
importFrom(stats, runif, rexp)